# Core NLP & Deep Learning
transformers==4.38.0
torch==2.2.0
spacy==3.7.4
spacy-transformers==1.3.4

# Data & Finance
pandas==2.2.0
yfinance==0.2.36
newsapi-python==0.2.7

# Visualization
plotly==5.18.0

# Essential for spaCy Transformer models
cupy-cuda12x; sys_platform == 'linux'
